node-red-1/RSS-nbcsports.json
[
    {
        "id": "13e44949.218097",
        "type": "inject",
        "z": "fa6c5b80.841c78",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "69c1aa45.9f7f8c"
            ]
        ]
    },
    {
        "id": "69c1aa45.9f7f8c",
        "type": "http request",
        "z": "fa6c5b80.841c78",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://www.nbcsports.com/nba",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "b2b0a55b.68af68"
            ]
        ]
    },
    {
        "id": "98b210f0.2341a",
        "type": "debug",
        "z": "fa6c5b80.841c78",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 350,
        "y": 520,
        "wires": []
    },
    {
        "id": "b2b0a55b.68af68",
        "type": "html",
        "z": "fa6c5b80.841c78",
        "name": "div",
        "property": "payload",
        "outproperty": "payload",
        "tag": "div.more-headlines__list-item",
        "ret": "html",
        "as": "multi",
        "x": 470,
        "y": 80,
        "wires": [
            [
                "71c0cbe8.366e1c"
            ]
        ]
    },
    {
        "id": "3eb5a9c8.1d14e6",
        "type": "comment",
        "z": "fa6c5b80.841c78",
        "name": "splitting div's per article",
        "info": "",
        "x": 520,
        "y": 40,
        "wires": []
    },
    {
        "id": "3305df0d.a7ef3",
        "type": "comment",
        "z": "fa6c5b80.841c78",
        "name": "extracting info",
        "info": "",
        "x": 110,
        "y": 120,
        "wires": []
    },
    {
        "id": "5ec8e6c7.9c042",
        "type": "html",
        "z": "fa6c5b80.841c78",
        "name": "title",
        "property": "payload",
        "outproperty": "item.title",
        "tag": "div.story__title a",
        "ret": "text",
        "as": "multi",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "7e9f91db.0aa7a"
            ]
        ]
    },
    {
        "id": "7e9f91db.0aa7a",
        "type": "html",
        "z": "fa6c5b80.841c78",
        "name": "link",
        "property": "payload",
        "outproperty": "item.link",
        "tag": "div.story__title a",
        "ret": "attr",
        "as": "multi",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "1e351cf3.a0f1a3"
            ]
        ]
    },
    {
        "id": "8225d9cc.74d5e",
        "type": "html",
        "z": "fa6c5b80.841c78",
        "name": "description",
        "property": "payload",
        "outproperty": "item.description",
        "tag": "div.story__summary",
        "ret": "html",
        "as": "multi",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "823df70.0b1eb08"
            ]
        ]
    },
    {
        "id": "1e351cf3.a0f1a3",
        "type": "change",
        "z": "fa6c5b80.841c78",
        "name": "date",
        "rules": [
            {
                "t": "set",
                "p": "item.date",
                "pt": "msg",
                "to": "$replace(item.link.href, /.*(\\d{4})\\/(\\d{2})\\/(\\d{2}).*/, \"$1-$2-$3\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "8225d9cc.74d5e"
            ]
        ]
    },
    {
        "id": "ce348ac0.dd14b8",
        "type": "join",
        "z": "fa6c5b80.841c78",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "item",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 290,
        "y": 320,
        "wires": [
            [
                "ecb25f75.283918"
            ]
        ]
    },
    {
        "id": "71c0cbe8.366e1c",
        "type": "change",
        "z": "fa6c5b80.841c78",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "parts",
                "pt": "msg",
                "to": "_parts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 120,
        "wires": [
            [
                "5ec8e6c7.9c042"
            ]
        ]
    },
    {
        "id": "823df70.0b1eb08",
        "type": "change",
        "z": "fa6c5b80.841c78",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "_parts",
                "pt": "msg",
                "to": "parts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "ce348ac0.dd14b8"
            ]
        ]
    },
    {
        "id": "e75d4742.512db8",
        "type": "rss",
        "z": "fa6c5b80.841c78",
        "name": "",
        "feedOptionRules": [
            {
                "name": "title",
                "type": "str",
                "value": "ProBasketball Talk"
            },
            {
                "name": "feed_url",
                "type": "str",
                "value": "localhost:1880/rss/nbcsports"
            },
            {
                "name": "site_url",
                "type": "str",
                "value": "https://www.nbcsports.com/nba"
            }
        ],
        "itemOptionRules": [
            {
                "name": "title",
                "type": "item",
                "value": "title"
            },
            {
                "name": "description",
                "type": "item",
                "value": "description"
            },
            {
                "name": "url",
                "type": "item",
                "value": "link.href"
            },
            {
                "name": "guid",
                "type": "item",
                "value": "link.href"
            },
            {
                "name": "date",
                "type": "item",
                "value": "date"
            }
        ],
        "x": 250,
        "y": 400,
        "wires": [
            [
                "98b210f0.2341a",
                "38f738d3.74831"
            ]
        ]
    },
    {
        "id": "8aa91872.096b9",
        "type": "comment",
        "z": "fa6c5b80.841c78",
        "name": "RSS Response",
        "info": "",
        "x": 280,
        "y": 360,
        "wires": []
    },
    {
        "id": "e2ba95df.ea41b8",
        "type": "comment",
        "z": "fa6c5b80.841c78",
        "name": "re-join and merge",
        "info": "",
        "x": 130,
        "y": 280,
        "wires": []
    },
    {
        "id": "ecb25f75.283918",
        "type": "change",
        "z": "fa6c5b80.841c78",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "item",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "e75d4742.512db8"
            ]
        ]
    },
    {
        "id": "d9305246.a58508",
        "type": "http in",
        "z": "fa6c5b80.841c78",
        "name": "",
        "url": "/rss/nbcsports",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "69c1aa45.9f7f8c"
            ]
        ]
    },
    {
        "id": "dcb37f0f.169f38",
        "type": "http response",
        "z": "fa6c5b80.841c78",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 400,
        "wires": []
    },
    {
        "id": "38f738d3.74831",
        "type": "change",
        "z": "fa6c5b80.841c78",
        "name": "header",
        "rules": [
            {
                "t": "set",
                "p": "headers.Content-Type",
                "pt": "msg",
                "to": "application/rss+xml",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 400,
        "wires": [
            [
                "dcb37f0f.169f38"
            ]
        ]
    }
]