node-red-1/RSS-nbcsports.json
[
    {
        "id": "eec781b7.ccf08",
        "type": "inject",
        "z": "c233b1a4.5decc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 40,
        "wires": [
            [
                "eda8d061.827a3"
            ]
        ]
    },
    {
        "id": "eda8d061.827a3",
        "type": "http request",
        "z": "c233b1a4.5decc",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://www.nbcsports.com/nba",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 330,
        "y": 80,
        "wires": [
            [
                "16b9d0b6.087fe7"
            ]
        ]
    },
    {
        "id": "21ad26d5.4e46fa",
        "type": "debug",
        "z": "c233b1a4.5decc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 310,
        "y": 460,
        "wires": []
    },
    {
        "id": "16b9d0b6.087fe7",
        "type": "html",
        "z": "c233b1a4.5decc",
        "name": "div",
        "property": "payload",
        "outproperty": "payload",
        "tag": "div.more-headlines__list-item",
        "ret": "html",
        "as": "multi",
        "x": 470,
        "y": 80,
        "wires": [
            [
                "9a4e0bde.e2b7d"
            ]
        ]
    },
    {
        "id": "3cfb4291.b438ae",
        "type": "html",
        "z": "c233b1a4.5decc",
        "name": "title",
        "property": "payload",
        "outproperty": "item.title",
        "tag": "div.story__title a",
        "ret": "text",
        "as": "multi",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "365525df.64e17a"
            ]
        ]
    },
    {
        "id": "365525df.64e17a",
        "type": "html",
        "z": "c233b1a4.5decc",
        "name": "link",
        "property": "payload",
        "outproperty": "item.link",
        "tag": "div.story__title a",
        "ret": "attr",
        "as": "multi",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "14e519be.9213d6"
            ]
        ]
    },
    {
        "id": "a2c0121f.a3cc7",
        "type": "html",
        "z": "c233b1a4.5decc",
        "name": "description",
        "property": "payload",
        "outproperty": "item.description",
        "tag": "div.story__summary",
        "ret": "text",
        "as": "multi",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "95b9715f.c08f48"
            ]
        ]
    },
    {
        "id": "14e519be.9213d6",
        "type": "change",
        "z": "c233b1a4.5decc",
        "name": "date",
        "rules": [
            {
                "t": "set",
                "p": "item.date",
                "pt": "msg",
                "to": "$replace(item.link.href, /.*(\\d{4})\\/(\\d{2})\\/(\\d{2}).*/, \"$1-$2-$3\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "a2c0121f.a3cc7"
            ]
        ]
    },
    {
        "id": "7ab22e7f.6f2678",
        "type": "join",
        "z": "c233b1a4.5decc",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "item",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 290,
        "y": 320,
        "wires": [
            [
                "62d3af03.302e"
            ]
        ]
    },
    {
        "id": "9a4e0bde.e2b7d",
        "type": "change",
        "z": "c233b1a4.5decc",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "parts",
                "pt": "msg",
                "to": "_parts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 120,
        "wires": [
            [
                "3cfb4291.b438ae"
            ]
        ]
    },
    {
        "id": "95b9715f.c08f48",
        "type": "change",
        "z": "c233b1a4.5decc",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "_parts",
                "pt": "msg",
                "to": "parts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "7ab22e7f.6f2678"
            ]
        ]
    },
    {
        "id": "62d3af03.302e",
        "type": "change",
        "z": "c233b1a4.5decc",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "item",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "a1f58619.4a16c"
            ]
        ]
    },
    {
        "id": "a1f58619.4a16c",
        "type": "rss",
        "z": "c233b1a4.5decc",
        "name": "",
        "feedOptionRules": [
            {
                "name": "title",
                "type": "str",
                "value": "NBCSports"
            },
            {
                "name": "feed_url",
                "type": "str",
                "value": "http://localhost:1880/rss/nbcsports"
            },
            {
                "name": "site_url",
                "type": "str",
                "value": "https://www.nbcsports.com/nba"
            }
        ],
        "itemOptionRules": [
            {
                "name": "title",
                "type": "item",
                "value": "title"
            },
            {
                "name": "description",
                "type": "item",
                "value": "description"
            },
            {
                "name": "url",
                "type": "item",
                "value": "link.href"
            },
            {
                "name": "guid",
                "type": "item",
                "value": "link.href"
            },
            {
                "name": "date",
                "type": "item",
                "value": "date"
            }
        ],
        "x": 210,
        "y": 400,
        "wires": [
            [
                "21ad26d5.4e46fa",
                "a4fa3d34.30645"
            ]
        ]
    },
    {
        "id": "d6009ae.4e3e068",
        "type": "http in",
        "z": "c233b1a4.5decc",
        "name": "",
        "url": "/rss/nbcsports",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "eda8d061.827a3"
            ]
        ]
    },
    {
        "id": "f47d4273.9cae5",
        "type": "http response",
        "z": "c233b1a4.5decc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 400,
        "wires": []
    },
    {
        "id": "a4fa3d34.30645",
        "type": "change",
        "z": "c233b1a4.5decc",
        "name": "header",
        "rules": [
            {
                "t": "set",
                "p": "headers.Content-Type",
                "pt": "msg",
                "to": "application/rss+xml",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 400,
        "wires": [
            [
                "f47d4273.9cae5"
            ]
        ]
    },
    {
        "id": "b051bddb.58d948",
        "type": "comment",
        "z": "c233b1a4.5decc",
        "name": "splitting div's per article",
        "info": "",
        "x": 520,
        "y": 40,
        "wires": []
    },
    {
        "id": "e844f3dd.a990c8",
        "type": "comment",
        "z": "c233b1a4.5decc",
        "name": "extracting info",
        "info": "",
        "x": 110,
        "y": 120,
        "wires": []
    },
    {
        "id": "40a2d255.490344",
        "type": "comment",
        "z": "c233b1a4.5decc",
        "name": "rejoin and merge",
        "info": "",
        "x": 120,
        "y": 280,
        "wires": []
    },
    {
        "id": "9ca877c4.4ff11",
        "type": "comment",
        "z": "c233b1a4.5decc",
        "name": "web response",
        "info": "",
        "x": 230,
        "y": 360,
        "wires": []
    }
]