bandcamp-salesfeed.json
[
    {
        "id": "26e67012.c3722",
        "type": "inject",
        "z": "ed3ee37e.01285",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 180,
        "wires": [
            [
                "454beaa7.472e14"
            ]
        ]
    },
    {
        "id": "a5bb5649.9827f8",
        "type": "http request",
        "z": "ed3ee37e.01285",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 410,
        "y": 180,
        "wires": [
            [
                "ff7200c5.df708"
            ]
        ]
    },
    {
        "id": "454beaa7.472e14",
        "type": "function",
        "z": "ed3ee37e.01285",
        "name": "url params",
        "func": "// from last time\nif (flow.get(\"start\") !== undefined) {\n    url = \"https://bandcamp.com/api/salesfeed/1/get?start_date=\" + flow.get(\"start\");\n    return { url: url, flow_start: flow.get(\"start\") };\n}\n// first time\nreturn { url: \"https://bandcamp.com/api/salesfeed/1/get_initial\" };",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "a5bb5649.9827f8"
            ]
        ]
    },
    {
        "id": "1e7edbec.e2b5a4",
        "type": "catch",
        "z": "ed3ee37e.01285",
        "name": "",
        "scope": null,
        "x": 540,
        "y": 40,
        "wires": [
            [
                "87a4ec3e.4c6ac"
            ]
        ]
    },
    {
        "id": "87a4ec3e.4c6ac",
        "type": "debug",
        "z": "ed3ee37e.01285",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 40,
        "wires": []
    },
    {
        "id": "77c135d3.d9a044",
        "type": "function",
        "z": "ed3ee37e.01285",
        "name": "reset",
        "func": "flow.set(\"start\", undefined);\nreturn { payload: flow.get(\"start\") };",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f737df15.c09648",
        "type": "inject",
        "z": "ed3ee37e.01285",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "77c135d3.d9a044"
            ]
        ]
    },
    {
        "id": "5039aad4.c02664",
        "type": "debug",
        "z": "ed3ee37e.01285",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "ff7200c5.df708",
        "type": "change",
        "z": "ed3ee37e.01285",
        "name": "missing vars",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$exists(payload.feed_data) ? payload.feed_data : payload\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.end_date",
                "pt": "msg",
                "to": "$exists(payload.end_date) ? payload.end_date : flow_start",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 180,
        "wires": [
            [
                "8851773d.b87968"
            ]
        ]
    },
    {
        "id": "12e31190.7c5726",
        "type": "switch",
        "z": "ed3ee37e.01285",
        "name": "has results?",
        "property": "payload.events",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "e65451ac.4bc7e8"
            ],
            []
        ]
    },
    {
        "id": "8851773d.b87968",
        "type": "function",
        "z": "ed3ee37e.01285",
        "name": "checkpoint",
        "func": "// refreshing start\nflow.set(\"start\", msg.payload.end_date);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 220,
        "wires": [
            [
                "12e31190.7c5726"
            ]
        ]
    },
    {
        "id": "e65451ac.4bc7e8",
        "type": "change",
        "z": "ed3ee37e.01285",
        "name": "items",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.events.items[].{ \t    \"url\" : url,\t    \"artist\" : artist_name,\t    \"item\" : item_description\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 220,
        "wires": [
            [
                "5039aad4.c02664",
                "78f086a0.79eab8"
            ]
        ]
    },
    {
        "id": "78f086a0.79eab8",
        "type": "link out",
        "z": "ed3ee37e.01285",
        "name": "",
        "links": [],
        "x": 715,
        "y": 200,
        "wires": []
    },
    {
        "id": "b343da5e.1e98e8",
        "type": "comment",
        "z": "ed3ee37e.01285",
        "name": "read from api/salesfeed",
        "info": "",
        "x": 120,
        "y": 140,
        "wires": []
    },
    {
        "id": "6ce3ee68.ca3fc",
        "type": "comment",
        "z": "ed3ee37e.01285",
        "name": "reset saved checkpoint",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    }
]