bandcamp-salesfeed.json
[
    {
        "id": "6cef5757.a0d538",
        "type": "inject",
        "z": "20d79de8.cb11ea",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 180,
        "wires": [
            [
                "e66dc272.328fe"
            ]
        ]
    },
    {
        "id": "fe1103cd.88fde",
        "type": "http request",
        "z": "20d79de8.cb11ea",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 410,
        "y": 180,
        "wires": [
            [
                "1b4f4b17.17f155"
            ]
        ]
    },
    {
        "id": "e66dc272.328fe",
        "type": "function",
        "z": "20d79de8.cb11ea",
        "name": "url params",
        "func": "// from last time\nif (flow.get(\"start\") !== undefined) {\n    url = \"https://bandcamp.com/api/salesfeed/1/get?start_date=\" + flow.get(\"start\");\n    return { url: url, flow_start: flow.get(\"start\") };\n}\n// first time\nreturn { url: \"https://bandcamp.com/api/salesfeed/1/get_initial\" };",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "fe1103cd.88fde"
            ]
        ]
    },
    {
        "id": "311a41cd.46e92e",
        "type": "catch",
        "z": "20d79de8.cb11ea",
        "name": "",
        "scope": null,
        "x": 540,
        "y": 40,
        "wires": [
            [
                "8dbec2b7.66fde8"
            ]
        ]
    },
    {
        "id": "8dbec2b7.66fde8",
        "type": "debug",
        "z": "20d79de8.cb11ea",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 40,
        "wires": []
    },
    {
        "id": "433f86a9.abffb",
        "type": "function",
        "z": "20d79de8.cb11ea",
        "name": "reset",
        "func": "flow.set(\"start\", undefined);\nreturn { payload: flow.get(\"start\") };",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e0e5ae39.394b2",
        "type": "inject",
        "z": "20d79de8.cb11ea",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "433f86a9.abffb"
            ]
        ]
    },
    {
        "id": "5215f949.21d1c8",
        "type": "debug",
        "z": "20d79de8.cb11ea",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 650,
        "y": 360,
        "wires": []
    },
    {
        "id": "1b4f4b17.17f155",
        "type": "change",
        "z": "20d79de8.cb11ea",
        "name": "missing vars",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$exists(payload.feed_data) ? payload.feed_data : payload\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.end_date",
                "pt": "msg",
                "to": "$exists(payload.end_date) ? payload.end_date : flow_start",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 180,
        "wires": [
            [
                "da02aeff.f1346"
            ]
        ]
    },
    {
        "id": "6b524abd.71eb84",
        "type": "switch",
        "z": "20d79de8.cb11ea",
        "name": "has results?",
        "property": "payload.events",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "904cc0bf.89ece"
            ],
            []
        ]
    },
    {
        "id": "da02aeff.f1346",
        "type": "function",
        "z": "20d79de8.cb11ea",
        "name": "checkpoint",
        "func": "// refreshing start\nflow.set(\"start\", msg.payload.end_date);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 220,
        "wires": [
            [
                "6b524abd.71eb84"
            ]
        ]
    },
    {
        "id": "904cc0bf.89ece",
        "type": "change",
        "z": "20d79de8.cb11ea",
        "name": "extract info",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.events.items[].{ \t    \"url\" : url,\t    \"artist\" : artist_name,\t    \"item\" : item_description\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "bed1c570.258448"
            ]
        ]
    },
    {
        "id": "356c3f3c.2b49d",
        "type": "link out",
        "z": "20d79de8.cb11ea",
        "name": "salesfeed-out",
        "links": [
            "5734163f.7a7458"
        ],
        "x": 615,
        "y": 400,
        "wires": []
    },
    {
        "id": "43163d8b.8d5c7c",
        "type": "comment",
        "z": "20d79de8.cb11ea",
        "name": "read from api/salesfeed",
        "info": "",
        "x": 120,
        "y": 140,
        "wires": []
    },
    {
        "id": "b0bf7341.4ea1d8",
        "type": "comment",
        "z": "20d79de8.cb11ea",
        "name": "reset saved checkpoint",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "bed1c570.258448",
        "type": "split",
        "z": "20d79de8.cb11ea",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "824a4603.ed4798"
            ]
        ]
    },
    {
        "id": "e59fbae3.001408",
        "type": "comment",
        "z": "20d79de8.cb11ea",
        "name": "stream only albums",
        "info": "",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "824a4603.ed4798",
        "type": "switch",
        "z": "20d79de8.cb11ea",
        "name": "loose track?",
        "property": "payload.url",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "bandcamp.com/track",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "5215f949.21d1c8"
            ],
            [
                "356c3f3c.2b49d"
            ]
        ]
    }
]