cryptocurrencies-track.json
[
    {
        "id": "8742dbab.7ac3b8",
        "type": "http request",
        "z": "ced3911c.f8024",
        "name": "btc a mxn",
        "method": "GET",
        "ret": "obj",
        "url": "https://api.bitso.com/v3/ticker/?book=btc_mxn",
        "tls": "",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "ca473a11.061b88",
                "d4a9cd24.5f8908"
            ]
        ]
    },
    {
        "id": "9448472b.8a9f88",
        "type": "inject",
        "z": "ced3911c.f8024",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 70,
        "wires": [
            [
                "2b757943.7635e6"
            ]
        ]
    },
    {
        "id": "d4a9cd24.5f8908",
        "type": "debug",
        "z": "ced3911c.f8024",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 430,
        "y": 70,
        "wires": []
    },
    {
        "id": "ca473a11.061b88",
        "type": "switch",
        "z": "ced3911c.f8024",
        "name": "btc < X",
        "property": "payload.payload.last",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "btc",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "c0c17889.98fde8"
            ],
            []
        ]
    },
    {
        "id": "6a61fcc5.39522c",
        "type": "comment",
        "z": "ced3911c.f8024",
        "name": "monitor de bitcoin y ethereum",
        "info": "",
        "x": 130,
        "y": 30,
        "wires": []
    },
    {
        "id": "b2547435.97b5f",
        "type": "e-mail",
        "z": "ced3911c.f8024",
        "server": "smtp.sendgrid.net",
        "port": "465",
        "secure": true,
        "name": "pistolilla58@hotmail.com",
        "dname": "email",
        "x": 640,
        "y": 90,
        "wires": []
    },
    {
        "id": "462b9f19.3e161",
        "type": "http request",
        "z": "ced3911c.f8024",
        "name": "eth a mxn",
        "method": "GET",
        "ret": "obj",
        "url": "https://api.bitso.com/v3/ticker/?book=eth_mxn",
        "tls": "",
        "x": 280,
        "y": 160,
        "wires": [
            [
                "d4a9cd24.5f8908",
                "ecdebfb7.729d"
            ]
        ]
    },
    {
        "id": "ecdebfb7.729d",
        "type": "switch",
        "z": "ced3911c.f8024",
        "name": "eth < X",
        "property": "payload.payload.last",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "eth",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 440,
        "y": 160,
        "wires": [
            [
                "c0c17889.98fde8"
            ],
            []
        ]
    },
    {
        "id": "c0c17889.98fde8",
        "type": "function",
        "z": "ced3911c.f8024",
        "name": "mensaje",
        "func": "var moneda = (msg.payload.payload.book).substring(0,3);\nvar valor = parseFloat(msg.payload.payload.last);\n\n// Mensaje\nmsg.from = \"Bot criptomoneda <no-reply@polushon.com>\"\nmsg.payload = \"Alerta \" + moneda + \": \" + valor + \" < \" + flow.get(moneda);\n\n// Cambiar alerta\nflow.set(moneda, valor);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 140,
        "wires": [
            [
                "b2547435.97b5f"
            ]
        ]
    },
    {
        "id": "2b757943.7635e6",
        "type": "function",
        "z": "ced3911c.f8024",
        "name": "flow vars",
        "func": "// Leyendo por defecto\nvar btc = flow.get(\"btc\")||67000;\nvar eth = flow.get(\"eth\")||4700;\nmsg.payload = eth;\n// Grabando\nflow.set(\"btc\", btc);\nflow.set(\"eth\", eth);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "8742dbab.7ac3b8",
                "462b9f19.3e161"
            ]
        ]
    }
]