cryptocurrencies-track.json
[
    {
        "id": "8742dbab.7ac3b8",
        "type": "http request",
        "z": "ced3911c.f8024",
        "name": "btc a mxn",
        "method": "GET",
        "ret": "obj",
        "url": "https://api.bitso.com/v3/ticker/?book=btc_mxn",
        "tls": "",
        "x": 280,
        "y": 160,
        "wires": [
            [
                "ca473a11.061b88",
                "d4a9cd24.5f8908"
            ]
        ]
    },
    {
        "id": "9448472b.8a9f88",
        "type": "inject",
        "z": "ced3911c.f8024",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "8742dbab.7ac3b8",
                "462b9f19.3e161"
            ]
        ]
    },
    {
        "id": "d4a9cd24.5f8908",
        "type": "debug",
        "z": "ced3911c.f8024",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "ca473a11.061b88",
        "type": "switch",
        "z": "ced3911c.f8024",
        "name": "btc < X",
        "property": "payload.payload.last",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "btc",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "c0c17889.98fde8",
                "d4a9cd24.5f8908"
            ],
            []
        ]
    },
    {
        "id": "6a61fcc5.39522c",
        "type": "comment",
        "z": "ced3911c.f8024",
        "name": "monitor de bitcoin y ethereum",
        "info": "",
        "x": 160,
        "y": 120,
        "wires": []
    },
    {
        "id": "b2547435.97b5f",
        "type": "e-mail",
        "z": "ced3911c.f8024",
        "server": "smtp.sendgrid.net",
        "port": "465",
        "secure": true,
        "name": "pistolilla58@hotmail.com",
        "dname": "",
        "x": 540,
        "y": 290,
        "wires": []
    },
    {
        "id": "462b9f19.3e161",
        "type": "http request",
        "z": "ced3911c.f8024",
        "name": "eth a mxn",
        "method": "GET",
        "ret": "obj",
        "url": "https://api.bitso.com/v3/ticker/?book=eth_mxn",
        "tls": "",
        "x": 280,
        "y": 200,
        "wires": [
            [
                "d4a9cd24.5f8908",
                "ecdebfb7.729d"
            ]
        ]
    },
    {
        "id": "ecdebfb7.729d",
        "type": "switch",
        "z": "ced3911c.f8024",
        "name": "eth < X",
        "property": "payload.payload.last",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "eth",
                "vt": "flow"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "c0c17889.98fde8"
            ],
            []
        ]
    },
    {
        "id": "c0c17889.98fde8",
        "type": "function",
        "z": "ced3911c.f8024",
        "name": "mensaje",
        "func": "var moneda = (msg.payload.payload.book).substring(0,3);\nvar valor = parseFloat(msg.payload.payload.last);\n\n// Mensaje\nmsg.from = \"Bot criptomoneda <no-reply@polushon.com>\"\nmsg.payload = \"Alerta \" + moneda + \": \" + valor + \" < \" + flow.get(moneda);\n\n// Cambiar alerta\nflow.set(moneda, valor);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 180,
        "wires": [
            [
                "b2547435.97b5f"
            ]
        ]
    },
    {
        "id": "1d6c2e58.3955e2",
        "type": "inject",
        "z": "ced3911c.f8024",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 70,
        "wires": [
            [
                "6d6f509b.50e718"
            ]
        ]
    },
    {
        "id": "6d6f509b.50e718",
        "type": "function",
        "z": "ced3911c.f8024",
        "name": "flow variables",
        "func": "flow.set(\"btc\", 70000);\nflow.set(\"eth\", 5000)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 70,
        "wires": [
            []
        ]
    },
    {
        "id": "e1e56f8b.0cc1b8",
        "type": "comment",
        "z": "ced3911c.f8024",
        "name": "inicializando alertas",
        "info": "",
        "x": 130,
        "y": 30,
        "wires": []
    }
]