ibm-quickstart.json
[
    {
        "id": "d16eb137.2363a",
        "type": "wiotp out",
        "z": "10a96090.f7e6df",
        "authType": "d",
        "qs": "true",
        "qsDeviceId": "d16eb137.2363a",
        "deviceKey": "",
        "deviceType": "",
        "deviceId": "",
        "event": "event",
        "format": "json",
        "qos": "",
        "name": "IBM quickstart",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "974ad26a.d0241",
        "type": "random",
        "z": "10a96090.f7e6df",
        "name": "",
        "low": "1",
        "high": "10",
        "inte": "true",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "5e8920a0.31ba3"
            ]
        ]
    },
    {
        "id": "741217ed.ff5dc8",
        "type": "inject",
        "z": "10a96090.f7e6df",
        "name": "cada 5 seg",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "974ad26a.d0241"
            ]
        ]
    },
    {
        "id": "d637eeee.35735",
        "type": "debug",
        "z": "10a96090.f7e6df",
        "name": "payload.d.lectura",
        "active": false,
        "console": "false",
        "complete": "payload.d.lectura",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "5e8920a0.31ba3",
        "type": "function",
        "z": "10a96090.f7e6df",
        "name": "formato json",
        "func": "msg.payload = {'d' : {'lectura' : msg.payload}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "d16eb137.2363a",
                "d637eeee.35735"
            ]
        ]
    },
    {
        "id": "6c4e2fc8.710ae",
        "type": "comment",
        "z": "10a96090.f7e6df",
        "name": "inyección inicial",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    }
]