ibm-quickstart.json
[
    {
        "id": "df72149e.2e1fc",
        "type": "inject",
        "z": "d9dc81ee.4b2ab",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 83.5,
        "y": 89.25,
        "wires": [
            [
                "731c30e6.0fc3f"
            ]
        ]
    },
    {
        "id": "731c30e6.0fc3f",
        "type": "random",
        "z": "d9dc81ee.4b2ab",
        "name": "",
        "low": "1",
        "high": "10",
        "inte": "true",
        "x": 219.5,
        "y": 158.75,
        "wires": [
            [
                "9ed1ee04.6e35a",
                "b43f8f3c.f102a8"
            ]
        ]
    },
    {
        "id": "b43f8f3c.f102a8",
        "type": "debug",
        "z": "d9dc81ee.4b2ab",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 374.5,
        "y": 284.5,
        "wires": []
    },
    {
        "id": "9ed1ee04.6e35a",
        "type": "function",
        "z": "d9dc81ee.4b2ab",
        "name": "",
        "func": "msg.payload = {\"d\" : {\"evento\" : msg.payload}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 349.5,
        "y": 88.75,
        "wires": [
            [
                "aed0bc8c.4c8e88"
            ]
        ]
    },
    {
        "id": "aed0bc8c.4c8e88",
        "type": "wiotp out",
        "z": "d9dc81ee.4b2ab",
        "authType": "d",
        "qs": "true",
        "qsDeviceId": "aed0bc8c.4c8e88",
        "deviceKey": "",
        "deviceType": "",
        "deviceId": "",
        "event": "event",
        "format": "json",
        "name": "",
        "x": 486.5,
        "y": 209.5,
        "wires": []
    },
    {
        "id": "581dba88.9620ac",
        "type": "inject",
        "z": "d9dc81ee.4b2ab",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "x": 81.5,
        "y": 226.25,
        "wires": [
            []
        ]
    }
]
