modbus-demos.json
[
    {
        "id": "8f9bfdb1.63bf78",
        "type": "modbus-flex-getter",
        "z": "d998ad03.4d4",
        "name": "502",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "d50a2251.78235",
        "x": 310,
        "y": 130,
        "wires": [
            [],
            [
                "864fa911.b89d7"
            ]
        ]
    },
    {
        "id": "32ab776f.bf4e58",
        "type": "function",
        "z": "d998ad03.4d4",
        "name": "FC4 4 [2]",
        "func": "msg.payload = { \n    'description': 'supply_voltage',\n    'units': 'Volts',\n    'unitid': 1,\n    'fc': 4, \n    'address': 4, \n    'quantity': 2,\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 130,
        "wires": [
            [
                "786e0797.2a6f78"
            ]
        ]
    },
    {
        "id": "786e0797.2a6f78",
        "type": "modbus-flex-getter",
        "z": "d998ad03.4d4",
        "name": "503",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "69a6ad21.df0c0c",
        "x": 310,
        "y": 210,
        "wires": [
            [],
            [
                "b547abae.fbef98",
                "b11a915c.41d968"
            ]
        ]
    },
    {
        "id": "22a2834b.f6354c",
        "type": "inject",
        "z": "d998ad03.4d4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 40,
        "wires": [
            [
                "32ab776f.bf4e58",
                "7c565324.7de554"
            ]
        ]
    },
    {
        "id": "b547abae.fbef98",
        "type": "modbus-response",
        "z": "d998ad03.4d4",
        "name": "",
        "registerShowMax": 20,
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "2b43d357.ef3964",
        "type": "debug",
        "z": "d998ad03.4d4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 610,
        "y": 230,
        "wires": []
    },
    {
        "id": "7c565324.7de554",
        "type": "function",
        "z": "d998ad03.4d4",
        "name": "FC4 6 [2]",
        "func": "msg.payload = { \n    'description': 'temperature',\n    'units': 'Degrees Celsius',\n    'unitid': 1,\n    'fc': 4, \n    'address': 6, \n    'quantity': 2,\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 210,
        "wires": [
            [
                "786e0797.2a6f78"
            ]
        ]
    },
    {
        "id": "5f4ff9ba.13bec8",
        "type": "catch",
        "z": "d998ad03.4d4",
        "name": "",
        "scope": null,
        "x": 470,
        "y": 40,
        "wires": [
            [
                "4d8490b.48d49f"
            ]
        ]
    },
    {
        "id": "4d8490b.48d49f",
        "type": "debug",
        "z": "d998ad03.4d4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 610,
        "y": 40,
        "wires": []
    },
    {
        "id": "b11a915c.41d968",
        "type": "function",
        "z": "d998ad03.4d4",
        "name": "float(CD AB)",
        "func": "// Create a buffer\nvar buf = new ArrayBuffer(4);\n// Create a 16-bit int view of it\nvar ints = new Uint16Array(buf);\n\n// Read input in format \"CD AB\": [6025, 16831]\nvar data = msg.values;\ndata.forEach(function (b, i) {\n    ints[i] = b;\n});\n\n// Create a 32-bit float view of it\nvar floats = new Float32Array(buf);\n// Read the bits as a float; note that by doing this, we're implicitly converting it from a 32-bit float into JavaScript's native 64-bit double\nmsg.result = floats[0];\n// Done\nreturn msg;\n// stackoverflow/40970739",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 270,
        "wires": [
            [
                "b2d2be6c.3d1c38"
            ]
        ]
    },
    {
        "id": "864fa911.b89d7",
        "type": "modbus-response",
        "z": "d998ad03.4d4",
        "name": "",
        "registerShowMax": 20,
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "a7ef82b3.3e572",
        "type": "comment",
        "z": "d998ad03.4d4",
        "name": "temperature",
        "info": "",
        "x": 140,
        "y": 170,
        "wires": []
    },
    {
        "id": "39f542ce.ad2866",
        "type": "comment",
        "z": "d998ad03.4d4",
        "name": "supply voltage",
        "info": "",
        "x": 150,
        "y": 90,
        "wires": []
    },
    {
        "id": "b2d2be6c.3d1c38",
        "type": "function",
        "z": "d998ad03.4d4",
        "name": "json format",
        "func": "var parametro = msg.input.payload.description;\nmsg.payload = {'d' : {\n    [parametro] : msg.result,\n}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 270,
        "wires": [
            [
                "2b43d357.ef3964"
            ]
        ]
    },
    {
        "id": "d50a2251.78235",
        "type": "modbus-client",
        "z": "",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "tcpHost": "demos-ampere.ddns.net",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectTimeout": "2000"
    },
    {
        "id": "69a6ad21.df0c0c",
        "type": "modbus-client",
        "z": "",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "tcpHost": "demos-ampere.ddns.net",
        "tcpPort": "503",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectTimeout": 2000
    }
]