modbus-read.json
[
    {
        "id": "e82efba7.73a9",
        "type": "modbus-flex-getter",
        "z": "35460886.9dea5",
        "name": "502",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "befc1b76.15909",
        "x": 460,
        "y": 120,
        "wires": [
            [],
            [
                "a3778a22.b4d218",
                "c0d36994.649068"
            ]
        ]
    },
    {
        "id": "b2f8740a.398b6",
        "type": "function",
        "z": "35460886.9dea5",
        "name": "FC4 4 [2]",
        "func": "msg.payload = { \n    // User defined:\n    'deviceId': '',\n    'deviceType': 'xeta_supply_voltage',\n    'deviceUnits': 'Volts',\n    // Modbus:\n    'unitid': 1,\n    'fc': 4, \n    'address': 4, \n    'quantity': 2,\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "6d9f6c92.87da64"
            ]
        ]
    },
    {
        "id": "d494316d.f1e678",
        "type": "modbus-flex-getter",
        "z": "35460886.9dea5",
        "name": "503",
        "showStatusActivities": false,
        "showErrors": false,
        "server": "dfb418ca.2ab62",
        "x": 460,
        "y": 190,
        "wires": [
            [],
            [
                "ea755a75.e0385",
                "c0d36994.649068"
            ]
        ]
    },
    {
        "id": "27a289f1.fc3eee",
        "type": "inject",
        "z": "35460886.9dea5",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 50,
        "wires": [
            [
                "b2f8740a.398b6",
                "e7bdcc8e.25206",
                "f0c7737e.65e43"
            ]
        ]
    },
    {
        "id": "ea755a75.e0385",
        "type": "modbus-response",
        "z": "35460886.9dea5",
        "name": "",
        "registerShowMax": 20,
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "9a6ea5f7.f6fbd",
        "type": "debug",
        "z": "35460886.9dea5",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 660,
        "y": 280,
        "wires": []
    },
    {
        "id": "e7bdcc8e.25206",
        "type": "function",
        "z": "35460886.9dea5",
        "name": "FC4 6 [2]",
        "func": "msg.payload = {\n    // User defined:\n    'deviceId': '',\n    'deviceType': 'xeta_temperature',\n    'deviceUnits': 'Degrees Celsius',\n    // Modbus:\n    'unitid': 1,\n    'fc': 4, \n    'address': 6, \n    'quantity': 2,\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "6d9f6c92.87da64"
            ]
        ]
    },
    {
        "id": "505b27df.11493",
        "type": "catch",
        "z": "35460886.9dea5",
        "name": "",
        "scope": null,
        "x": 480,
        "y": 40,
        "wires": [
            [
                "95a3c.616d2dc48"
            ]
        ]
    },
    {
        "id": "95a3c.616d2dc48",
        "type": "debug",
        "z": "35460886.9dea5",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 620,
        "y": 40,
        "wires": []
    },
    {
        "id": "c0d36994.649068",
        "type": "function",
        "z": "35460886.9dea5",
        "name": "float(CD AB)",
        "func": "// Create a buffer\nvar buf = new ArrayBuffer(4);\n// Create a 16-bit int view of it\nvar ints = new Uint16Array(buf);\n\n// Read input in format \"CD AB\": [6025, 16831]\nvar data = msg.values;\ndata.forEach(function (b, i) {\n    ints[i] = b;\n});\n\n// Create a 32-bit float view of it\nvar floats = new Float32Array(buf);\n// Read the bits as a float; note that by doing this, we're implicitly converting it from a 32-bit float into JavaScript's native 64-bit double\nmsg.result = floats[0];\n// Done\nreturn msg;\n// stackoverflow/40970739",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 230,
        "wires": [
            [
                "a2294610.756c6"
            ]
        ]
    },
    {
        "id": "a3778a22.b4d218",
        "type": "modbus-response",
        "z": "35460886.9dea5",
        "name": "",
        "registerShowMax": 20,
        "x": 620,
        "y": 90,
        "wires": []
    },
    {
        "id": "96e33db0.01e968",
        "type": "comment",
        "z": "35460886.9dea5",
        "name": "temperature",
        "info": "",
        "x": 120,
        "y": 180,
        "wires": []
    },
    {
        "id": "4502879.9fe1ef8",
        "type": "comment",
        "z": "35460886.9dea5",
        "name": "supply voltage",
        "info": "",
        "x": 130,
        "y": 100,
        "wires": []
    },
    {
        "id": "a2294610.756c6",
        "type": "function",
        "z": "35460886.9dea5",
        "name": "format",
        "func": "var value = msg.result;\n// Fake variation\nvalue += Math.random() * 0.1 - 0.05;\n// Json format\nmsg.payload = {'d' : {\n    [msg.input.payload.deviceUnits] : parseFloat(value.toFixed(2)),\n}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 280,
        "wires": [
            [
                "9a6ea5f7.f6fbd",
                "926f88c3.85bf58"
            ]
        ]
    },
    {
        "id": "5a21709c.7c3028",
        "type": "comment",
        "z": "35460886.9dea5",
        "name": "up time",
        "info": "",
        "x": 100,
        "y": 260,
        "wires": []
    },
    {
        "id": "f0c7737e.65e43",
        "type": "function",
        "z": "35460886.9dea5",
        "name": "FC4 2 [2]",
        "func": "msg.payload = {\n    // User defined:\n    'deviceId': '',\n    'deviceType': 'xeta_up_time',\n    'deviceUnits': 'Days',\n    // Modbus:\n    'unitid': 1,\n    'fc': 4, \n    'address': 2, \n    'quantity': 2,\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "6d9f6c92.87da64"
            ]
        ]
    },
    {
        "id": "ea0a7ed6.00c1f",
        "type": "function",
        "z": "35460886.9dea5",
        "name": "deviceId",
        "func": "msg.payload.deviceId = \"xeta503\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 190,
        "wires": [
            [
                "d494316d.f1e678"
            ]
        ]
    },
    {
        "id": "b9b58e84.fa41b",
        "type": "function",
        "z": "35460886.9dea5",
        "name": "deviceId",
        "func": "msg.payload.deviceId = \"xeta502\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "e82efba7.73a9"
            ]
        ]
    },
    {
        "id": "926f88c3.85bf58",
        "type": "link out",
        "z": "35460886.9dea5",
        "name": "modbus-read-out",
        "links": [
            "d927098f.f65c8"
        ],
        "x": 625,
        "y": 320,
        "wires": []
    },
    {
        "id": "6d9f6c92.87da64",
        "type": "link out",
        "z": "35460886.9dea5",
        "name": "",
        "links": [
            "1c697ff.12b6e"
        ],
        "x": 215,
        "y": 220,
        "wires": []
    },
    {
        "id": "1c697ff.12b6e",
        "type": "link in",
        "z": "35460886.9dea5",
        "name": "modbus-input",
        "links": [
            "6d9f6c92.87da64"
        ],
        "x": 235,
        "y": 150,
        "wires": [
            [
                "b9b58e84.fa41b",
                "ea0a7ed6.00c1f"
            ]
        ]
    },
    {
        "id": "befc1b76.15909",
        "type": "modbus-client",
        "z": "",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "tcpHost": "demos-ampere.ddns.net",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectTimeout": 2000
    },
    {
        "id": "dfb418ca.2ab62",
        "type": "modbus-client",
        "z": "",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "tcpHost": "demos-ampere.ddns.net",
        "tcpPort": "503",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectTimeout": "2000"
    }
]