modbus-simple.json
[
    {
        "id": "1b68475.2a7b339",
        "type": "modbus-read",
        "z": "2b149f87.d873b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "4",
        "rate": "5",
        "rateUnit": "s",
        "server": "621264de.aa089c",
        "x": 430,
        "y": 320,
        "wires": [
            [],
            [
                "c30d1852.d3375"
            ]
        ]
    },
    {
        "id": "30f255d0.fbb1c2",
        "type": "modbus-write",
        "z": "2b149f87.d873b",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "MHoldingRegisters",
        "adr": "0",
        "quantity": "3",
        "server": "621264de.aa089c",
        "x": 440,
        "y": 230,
        "wires": [
            [],
            [
                "ed9e29a0.2113b8"
            ]
        ]
    },
    {
        "id": "558058c4.fb9c",
        "type": "modbus-server",
        "z": "2b149f87.d873b",
        "name": "",
        "logEnabled": false,
        "serverPort": 10502,
        "responseDelay": 100,
        "delayUnit": "ms",
        "coilsBufferSize": 1024,
        "holdingBufferSize": 1024,
        "inputBufferSize": 1024,
        "x": 440,
        "y": 100,
        "wires": [
            [
                "19ac60c0.555e77"
            ],
            [
                "19ac60c0.555e77"
            ],
            [
                "19ac60c0.555e77"
            ]
        ]
    },
    {
        "id": "d66e37a.06fc148",
        "type": "inject",
        "z": "2b149f87.d873b",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "558058c4.fb9c"
            ]
        ]
    },
    {
        "id": "19ac60c0.555e77",
        "type": "debug",
        "z": "2b149f87.d873b",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "c30d1852.d3375",
        "type": "modbus-response",
        "z": "2b149f87.d873b",
        "name": "",
        "registerShowMax": 20,
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "c8e91cd5.0f0f08",
        "type": "template",
        "z": "2b149f87.d873b",
        "name": "array value",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "[44, 2, 65535]",
        "output": "json",
        "x": 260,
        "y": 230,
        "wires": [
            [
                "30f255d0.fbb1c2"
            ]
        ]
    },
    {
        "id": "ed9e29a0.2113b8",
        "type": "modbus-response",
        "z": "2b149f87.d873b",
        "name": "",
        "registerShowMax": 20,
        "x": 650,
        "y": 230,
        "wires": []
    },
    {
        "id": "fb1d32bd.379dd",
        "type": "inject",
        "z": "2b149f87.d873b",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 230,
        "wires": [
            [
                "c8e91cd5.0f0f08"
            ]
        ]
    },
    {
        "id": "3c85b360.88a4d4",
        "type": "comment",
        "z": "2b149f87.d873b",
        "name": "Simulador Modbus TCP en puerto IP: 10502",
        "info": "",
        "x": 530,
        "y": 50,
        "wires": []
    },
    {
        "id": "5b89f717.0fd9c",
        "type": "comment",
        "z": "2b149f87.d873b",
        "name": "Escritura de 3 valores en puerto TCP: 0",
        "info": "",
        "x": 350,
        "y": 190,
        "wires": []
    },
    {
        "id": "adb79ee0.3cc1f8",
        "type": "comment",
        "z": "2b149f87.d873b",
        "name": "Lectura de 4 valores en puerto TCP: 0",
        "info": "",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "621264de.aa089c",
        "type": "modbus-client",
        "z": "2b149f87.d873b",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "tcpHost": "localhost",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectTimeout": "2000"
    }
]