raspberry-info.json
[
    {
        "id": "3e465c0e.0ab63c",
        "type": "exec",
        "z": "4c42ee82.6b9558",
        "command": "ip",
        "addpay": false,
        "append": "address",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "ip address",
        "x": 170,
        "y": 90,
        "wires": [
            [
                "d6f6cf49.8bd52"
            ],
            [],
            []
        ]
    },
    {
        "id": "d02e301.f85e35",
        "type": "inject",
        "z": "4c42ee82.6b9558",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "15",
        "crontab": "",
        "once": true,
        "x": 90,
        "y": 40,
        "wires": [
            [
                "3e465c0e.0ab63c",
                "9e0e2518.a6af58"
            ]
        ]
    },
    {
        "id": "d6f6cf49.8bd52",
        "type": "function",
        "z": "4c42ee82.6b9558",
        "name": "parse",
        "func": "var str = msg.payload;\n// Removing line breaks\nstr = str.replace(/\\n/gi, \" \");\n// Extracting IP address\nstr = str.replace(/.*inet (\\d+\\.\\d+\\.\\d+\\.\\d+).+?global.*/i, \"$1\");\n\nmsg.payload = {'d' : {'ipaddress' : str}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 90,
        "wires": [
            [
                "13a81ca6.9bea2b"
            ]
        ]
    },
    {
        "id": "9e0e2518.a6af58",
        "type": "exec",
        "z": "4c42ee82.6b9558",
        "command": "vcgencmd",
        "addpay": false,
        "append": "measure_temp",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "cpu temp",
        "x": 180,
        "y": 150,
        "wires": [
            [
                "cdaa7b5d.44b8b"
            ],
            [],
            []
        ]
    },
    {
        "id": "cdaa7b5d.44b8b",
        "type": "function",
        "z": "4c42ee82.6b9558",
        "name": "parse",
        "func": "var temp = msg.payload.replace(\"temp=\", \"\").replace(\"'C\\n\", \"\");\nmsg.payload = {'d': {'temperature': parseFloat(temp)}}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 150,
        "wires": [
            [
                "5d3ddb1b.922f4c"
            ]
        ]
    },
    {
        "id": "af4ad5e4.dfea7",
        "type": "comment",
        "z": "4c42ee82.6b9558",
        "name": "sending readings in parallel can cause alarm inconsistencies",
        "info": "",
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "13a81ca6.9bea2b",
        "type": "rbe",
        "z": "4c42ee82.6b9558",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 430,
        "y": 90,
        "wires": [
            [
                "5d3ddb1b.922f4c",
                "d68dcc64.663ef8"
            ]
        ]
    },
    {
        "id": "5d3ddb1b.922f4c",
        "type": "function",
        "z": "4c42ee82.6b9558",
        "name": "deviceId",
        "func": "msg.input = { 'payload': {\n    'deviceId': 'raspberrypi01',\n    'deviceType': 'raspberryPi',}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 130,
        "wires": [
            [
                "dfc446f7.6d5c58"
            ]
        ]
    },
    {
        "id": "dfc446f7.6d5c58",
        "type": "link out",
        "z": "4c42ee82.6b9558",
        "name": "",
        "links": [
            "d927098f.f65c8"
        ],
        "x": 665,
        "y": 130,
        "wires": []
    },
    {
        "id": "d68dcc64.663ef8",
        "type": "debug",
        "z": "4c42ee82.6b9558",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 580,
        "y": 90,
        "wires": []
    }
]