relational-master.json
[
    {
        "id": "877329cb.6367a8",
        "type": "link in",
        "z": "3129c49d.e0ebb4",
        "name": "relational-master-in",
        "links": [
            "3e5273a4.6921ec",
            "26fed268.d22a86"
        ],
        "x": 45,
        "y": 130,
        "wires": [
            [
                "ae28311.adb26d"
            ]
        ]
    },
    {
        "id": "ae28311.adb26d",
        "type": "sqlite",
        "z": "3129c49d.e0ebb4",
        "mydb": "b4004d74.e51b1",
        "name": "db",
        "x": 160,
        "y": 130,
        "wires": [
            []
        ]
    },
    {
        "id": "a74e676e.d9e03",
        "type": "function",
        "z": "3129c49d.e0ebb4",
        "name": "sql CREATE",
        "func": "var dbTable = msg.error.message.replace(/.*table: *(.+)$/i,\"$1\");\nmsg.topic = `\nCREATE TABLE IF NOT EXISTS ${dbTable} (\n    device TEXT NOT NULL,\n    parameter TEXT NOT NULL,\n    value NUMERIC NOT NULL,\n    timestamp DATETIME NOT NULL DEFAULT (DATETIME('now','localtime'))\n);`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 40,
        "wires": [
            [
                "26fed268.d22a86"
            ]
        ]
    },
    {
        "id": "232fbe43.71d772",
        "type": "switch",
        "z": "3129c49d.e0ebb4",
        "name": "",
        "property": "error.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "no such table",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 220,
        "y": 40,
        "wires": [
            [
                "a74e676e.d9e03"
            ],
            []
        ]
    },
    {
        "id": "d1ca91b3.bd632",
        "type": "catch",
        "z": "3129c49d.e0ebb4",
        "name": "",
        "scope": [
            "ae28311.adb26d"
        ],
        "x": 90,
        "y": 40,
        "wires": [
            [
                "232fbe43.71d772"
            ]
        ]
    },
    {
        "id": "72cb2f10.b22d28",
        "type": "comment",
        "z": "3129c49d.e0ebb4",
        "name": "sql execute query",
        "info": "",
        "x": 120,
        "y": 90,
        "wires": []
    },
    {
        "id": "26fed268.d22a86",
        "type": "link out",
        "z": "3129c49d.e0ebb4",
        "name": "",
        "links": [
            "877329cb.6367a8"
        ],
        "x": 475,
        "y": 40,
        "wires": []
    },
    {
        "id": "b4004d74.e51b1",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/Desktop/node-red.db"
    }
]