relational-simple.json
[
    {
        "id": "b857715f.317ff",
        "type": "random",
        "z": "1136d5e6.f4d182",
        "name": "",
        "low": "1",
        "high": "10",
        "inte": "false",
        "x": 130,
        "y": 170,
        "wires": [
            [
                "a4ef41bc.d8fb8"
            ]
        ]
    },
    {
        "id": "ad65fb77.cdb148",
        "type": "inject",
        "z": "1136d5e6.f4d182",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 130,
        "wires": [
            [
                "b857715f.317ff"
            ]
        ]
    },
    {
        "id": "a4ef41bc.d8fb8",
        "type": "function",
        "z": "1136d5e6.f4d182",
        "name": "json format",
        "func": "msg.payload = {\n    'device' : 'My Device',\n    'parameter' : 'Random Number',\n    'value' : msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 170,
        "wires": [
            [
                "c62e976a.2d0318",
                "b9731532.a20ff"
            ]
        ]
    },
    {
        "id": "c62e976a.2d0318",
        "type": "function",
        "z": "1136d5e6.f4d182",
        "name": "sql INSERT",
        "func": "var dbTable = flow.get(\"dbTable\");\n// SQL Query\nmsg.topic = `INSERT INTO ${dbTable}(device,parameter,value)\nVALUES (\n    '${msg.payload.device}',\n    '${msg.payload.parameter}',\n    '${msg.payload.value}'\n)`;\n// Error check\nif(dbTable){ return msg; }\nnode.error(\"null dbTable\", msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 170,
        "wires": [
            [
                "f1b2ca64.371148"
            ]
        ]
    },
    {
        "id": "c0bde554.0182a8",
        "type": "catch",
        "z": "1136d5e6.f4d182",
        "name": "",
        "scope": null,
        "x": 380,
        "y": 40,
        "wires": [
            [
                "1b765883.c4eaff"
            ]
        ]
    },
    {
        "id": "c9117c97.e4684",
        "type": "inject",
        "z": "1136d5e6.f4d182",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 220,
        "wires": [
            [
                "cf91b5dc.42785"
            ]
        ]
    },
    {
        "id": "cf91b5dc.42785",
        "type": "function",
        "z": "1136d5e6.f4d182",
        "name": "sql SELECT",
        "func": "var dbTable = flow.get(\"dbTable\");\n// SQL Query\nmsg.topic = `SELECT * FROM ${dbTable}`;\n// Error check\nif(dbTable){ return msg; }\nnode.error(\"null dbTable\", msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 220,
        "wires": [
            [
                "f1b2ca64.371148"
            ]
        ]
    },
    {
        "id": "1b765883.c4eaff",
        "type": "function",
        "z": "1136d5e6.f4d182",
        "name": "flow init",
        "func": "flow.set(\"dbTable\", \"relational_simple\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "5c53d3c9.edef64",
        "type": "comment",
        "z": "1136d5e6.f4d182",
        "name": "INSERTs can also trigger DELETEs in a circular implementation",
        "info": "",
        "x": 260,
        "y": 90,
        "wires": []
    },
    {
        "id": "f1b2ca64.371148",
        "type": "link out",
        "z": "1136d5e6.f4d182",
        "name": "",
        "links": [
            "32acb9e.d4b0fc6"
        ],
        "x": 575,
        "y": 190,
        "wires": []
    },
    {
        "id": "b9731532.a20ff",
        "type": "function",
        "z": "1136d5e6.f4d182",
        "name": "sql DELETE",
        "func": "var dbTable = flow.get(\"dbTable\");\n// SQL Query\nmsg.topic = `DELETE FROM ${dbTable}\nWHERE rowid IN \n(SELECT rowid FROM ${dbTable} LIMIT 1)`;\n// Error check\nif(dbTable){ return msg; }\nnode.error(\"null dbTable\", msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 130,
        "wires": [
            [
                "156484ac.4de8cb"
            ]
        ]
    },
    {
        "id": "156484ac.4de8cb",
        "type": "link out",
        "z": "1136d5e6.f4d182",
        "name": "relational-simple-out",
        "links": [],
        "x": 575,
        "y": 130,
        "wires": []
    }
]