relational-csv.json
[
    {
        "id": "b6f391d4.67e0f8",
        "type": "inject",
        "z": "6bb1218b.463b1",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 130,
        "wires": [
            [
                "eb611b92.e4d3e"
            ]
        ]
    },
    {
        "id": "eb611b92.e4d3e",
        "type": "function",
        "z": "6bb1218b.463b1",
        "name": "SELECT",
        "func": "msg.topic = `\nSELECT device, parameter, value, timestamp\nFROM ${flow.get(\"dbTable\")}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 90,
        "wires": [
            [
                "23b2a295.fb6efe"
            ]
        ]
    },
    {
        "id": "23b2a295.fb6efe",
        "type": "sqlite",
        "z": "6bb1218b.463b1",
        "mydb": "bcb20cf5.6d2a58",
        "name": "db",
        "x": 350,
        "y": 90,
        "wires": [
            [
                "c9519d19.35854"
            ]
        ]
    },
    {
        "id": "c9519d19.35854",
        "type": "csv",
        "z": "6bb1218b.463b1",
        "name": "",
        "sep": "\\t",
        "hdrin": "",
        "hdrout": true,
        "multi": "one",
        "ret": "\\n",
        "temp": "device,parameter,value,timestamp",
        "x": 470,
        "y": 90,
        "wires": [
            [
                "790de0e2.9f769",
                "b538303d.9b23c"
            ]
        ]
    },
    {
        "id": "790de0e2.9f769",
        "type": "debug",
        "z": "6bb1218b.463b1",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 610,
        "y": 130,
        "wires": []
    },
    {
        "id": "35314d6c.d972c2",
        "type": "http in",
        "z": "6bb1218b.463b1",
        "name": "/csv",
        "url": "/csv",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 90,
        "wires": [
            [
                "eb611b92.e4d3e"
            ]
        ]
    },
    {
        "id": "b538303d.9b23c",
        "type": "http response",
        "z": "6bb1218b.463b1",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/plain",
            "Content-disposition": "attachment; filename=file.txt"
        },
        "x": 590,
        "y": 90,
        "wires": []
    },
    {
        "id": "33f3a6a1.1c8612",
        "type": "comment",
        "z": "6bb1218b.463b1",
        "name": "returns tab delimited file from sqlite via GET",
        "info": "",
        "x": 190,
        "y": 50,
        "wires": []
    },
    {
        "id": "18137970.7d94cf",
        "type": "catch",
        "z": "6bb1218b.463b1",
        "name": "",
        "scope": null,
        "x": 470,
        "y": 40,
        "wires": [
            [
                "a4ab94a3.38b798"
            ]
        ]
    },
    {
        "id": "a4ab94a3.38b798",
        "type": "function",
        "z": "6bb1218b.463b1",
        "name": "flow init",
        "func": "flow.set(\"dbTable\", \"relational_simple\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "bcb20cf5.6d2a58",
        "type": "sqlitedb",
        "z": "",
        "db": "C:\\Users\\usuario\\Desktop\\node-red.db"
    }
]