relational-simple.json
[
    {
        "id": "f75c1dfb.6971c",
        "type": "random",
        "z": "aeca535d.09aeb8",
        "name": "",
        "low": "1",
        "high": "10",
        "inte": "false",
        "x": 130,
        "y": 170,
        "wires": [
            [
                "90a01c88.f73618"
            ]
        ]
    },
    {
        "id": "8892b78f.f3f74",
        "type": "inject",
        "z": "aeca535d.09aeb8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "f75c1dfb.6971c"
            ]
        ]
    },
    {
        "id": "90a01c88.f73618",
        "type": "function",
        "z": "aeca535d.09aeb8",
        "name": "json format",
        "func": "msg.payload = {\n    'device' : 'My Device',\n    'parameter' : 'Random Number',\n    'value' : msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 170,
        "wires": [
            [
                "ea67d2fa.be3f58",
                "c3506fdf.463fb8"
            ]
        ]
    },
    {
        "id": "ea67d2fa.be3f58",
        "type": "function",
        "z": "aeca535d.09aeb8",
        "name": "sql INSERT",
        "func": "var dbTable = flow.get(\"dbTable\");\n// SQL Query\nmsg.topic = `INSERT INTO ${dbTable}(device,parameter,value)\nVALUES (\n    '${msg.payload.device}',\n    '${msg.payload.parameter}',\n    '${msg.payload.value}'\n)`;\n// Error check\nif(dbTable){ return msg; }\nnode.error(\"null dbTable\", msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 170,
        "wires": [
            [
                "3e5273a4.6921ec"
            ]
        ]
    },
    {
        "id": "337dd5dc.9a07e2",
        "type": "catch",
        "z": "aeca535d.09aeb8",
        "name": "",
        "scope": null,
        "x": 380,
        "y": 40,
        "wires": [
            [
                "440de2f.f45be9c"
            ]
        ]
    },
    {
        "id": "744d1b2e.f89084",
        "type": "inject",
        "z": "aeca535d.09aeb8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 100,
        "y": 220,
        "wires": [
            [
                "305f0cae.cc30dc"
            ]
        ]
    },
    {
        "id": "305f0cae.cc30dc",
        "type": "function",
        "z": "aeca535d.09aeb8",
        "name": "sql SELECT",
        "func": "var dbTable = flow.get(\"dbTable\");\n// SQL Query\nmsg.topic = `SELECT * FROM ${dbTable}`;\n// Error check\nif(dbTable){ return msg; }\nnode.error(\"null dbTable\", msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 220,
        "wires": [
            [
                "3e5273a4.6921ec"
            ]
        ]
    },
    {
        "id": "440de2f.f45be9c",
        "type": "function",
        "z": "aeca535d.09aeb8",
        "name": "flow init",
        "func": "flow.set(\"dbTable\", \"relational_simple\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "efeae9bc.b3c778",
        "type": "comment",
        "z": "aeca535d.09aeb8",
        "name": "sql queries",
        "info": "",
        "x": 90,
        "y": 80,
        "wires": []
    },
    {
        "id": "3e5273a4.6921ec",
        "type": "link out",
        "z": "aeca535d.09aeb8",
        "name": "",
        "links": [
            "877329cb.6367a8"
        ],
        "x": 575,
        "y": 190,
        "wires": []
    },
    {
        "id": "c3506fdf.463fb8",
        "type": "function",
        "z": "aeca535d.09aeb8",
        "name": "sql DELETE",
        "func": "var dbTable = flow.get(\"dbTable\");\n// SQL Query\nmsg.topic = `DELETE FROM ${dbTable}\nWHERE rowid IN \n(SELECT rowid FROM ${dbTable} LIMIT 1)`;\n// Error check\nif(dbTable){ return msg; }\nnode.error(\"null dbTable\", msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 120,
        "wires": [
            [
                "2c15ec6c.6919e4"
            ]
        ]
    },
    {
        "id": "2c15ec6c.6919e4",
        "type": "link out",
        "z": "aeca535d.09aeb8",
        "name": "relational-simple-out",
        "links": [],
        "x": 575,
        "y": 120,
        "wires": []
    }
]