relational-master.json
[
    {
        "id": "32acb9e.d4b0fc6",
        "type": "link in",
        "z": "1ff70e3c.8adc5a",
        "name": "relational-master-in",
        "links": [
            "7d6daaef.d40aec",
            "f1b2ca64.371148"
        ],
        "x": 65,
        "y": 150,
        "wires": [
            [
                "f47a7f0a.41c5c8"
            ]
        ]
    },
    {
        "id": "f47a7f0a.41c5c8",
        "type": "sqlite",
        "z": "1ff70e3c.8adc5a",
        "mydb": "bcb20cf5.6d2a58",
        "name": "db",
        "x": 180,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "2c61addc.80b0ea",
        "type": "function",
        "z": "1ff70e3c.8adc5a",
        "name": "sql CREATE",
        "func": "var dbTable = msg.error.message.replace(/.*table: *(.+)$/i,\"$1\");\nmsg.topic = `\nCREATE TABLE IF NOT EXISTS ${dbTable} (\n    device TEXT NOT NULL,\n    parameter TEXT NOT NULL,\n    value NUMERIC NOT NULL,\n    timestamp DATETIME NOT NULL DEFAULT (DATETIME('now','localtime'))\n);`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 40,
        "wires": [
            [
                "7d6daaef.d40aec"
            ]
        ]
    },
    {
        "id": "b8f28ff2.e5fbf",
        "type": "switch",
        "z": "1ff70e3c.8adc5a",
        "name": "",
        "property": "error.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "no such table",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 320,
        "y": 60,
        "wires": [
            [
                "2c61addc.80b0ea"
            ],
            [
                "bc12e505.4600b8"
            ]
        ]
    },
    {
        "id": "9c842070.30443",
        "type": "catch",
        "z": "1ff70e3c.8adc5a",
        "name": "",
        "scope": [
            "f47a7f0a.41c5c8"
        ],
        "x": 190,
        "y": 60,
        "wires": [
            [
                "b8f28ff2.e5fbf"
            ]
        ]
    },
    {
        "id": "e48376ca.d67a38",
        "type": "comment",
        "z": "1ff70e3c.8adc5a",
        "name": "node for all queries",
        "info": "",
        "x": 140,
        "y": 110,
        "wires": []
    },
    {
        "id": "7d6daaef.d40aec",
        "type": "link out",
        "z": "1ff70e3c.8adc5a",
        "name": "",
        "links": [
            "32acb9e.d4b0fc6"
        ],
        "x": 575,
        "y": 40,
        "wires": []
    },
    {
        "id": "bc12e505.4600b8",
        "type": "debug",
        "z": "1ff70e3c.8adc5a",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "bcb20cf5.6d2a58",
        "type": "sqlitedb",
        "z": "",
        "db": "C:\\Users\\usuario\\Desktop\\node-red.db"
    }
]