rss-tweak.json
[
    {
        "id": "10251ca6.597e63",
        "type": "xml",
        "z": "a684fcc8.3be12",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "79bf85cc.443664"
            ]
        ]
    },
    {
        "id": "79bf85cc.443664",
        "type": "change",
        "z": "a684fcc8.3be12",
        "name": "description",
        "rules": [
            {
                "t": "set",
                "p": "payload.rss.channel[0].item",
                "pt": "msg",
                "to": "payload.rss.channel[0].item[].\t{\t    \"title\":title[0],\t    \"link\": link[0],\t    \"pubDate\" : pubDate[0],    \t    \"description\": $replace($join(category, \", \"), \"Archive, \", \"\")\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "e42792a5.21f6b8"
            ]
        ]
    },
    {
        "id": "e42792a5.21f6b8",
        "type": "xml",
        "z": "a684fcc8.3be12",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "737f9573.a81ddc"
            ]
        ]
    },
    {
        "id": "53487e1e.292ad8",
        "type": "http response",
        "z": "a684fcc8.3be12",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "b008216f.9e0ac8",
        "type": "comment",
        "z": "a684fcc8.3be12",
        "name": "end-points",
        "info": "",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "6b775262.062a6c",
        "type": "comment",
        "z": "a684fcc8.3be12",
        "name": "category as description",
        "info": "",
        "x": 180,
        "y": 180,
        "wires": []
    },
    {
        "id": "e6020a64.1675a",
        "type": "comment",
        "z": "a684fcc8.3be12",
        "name": "Response",
        "info": "",
        "x": 240,
        "y": 280,
        "wires": []
    },
    {
        "id": "28f11273.529ace",
        "type": "debug",
        "z": "a684fcc8.3be12",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "737f9573.a81ddc",
        "type": "change",
        "z": "a684fcc8.3be12",
        "name": "Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers.Content-Type",
                "pt": "msg",
                "to": "application/rss+xml",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 320,
        "wires": [
            [
                "28f11273.529ace",
                "53487e1e.292ad8"
            ]
        ]
    },
    {
        "id": "d989f231.c788f8",
        "type": "http in",
        "z": "a684fcc8.3be12",
        "name": "/newalbumreleases",
        "url": "/newalbumreleases.net",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "cf185617.b8cd08"
            ]
        ]
    },
    {
        "id": "45b690c4.046508",
        "type": "http request",
        "z": "a684fcc8.3be12",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "proxy": "",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "10251ca6.597e63"
            ]
        ]
    },
    {
        "id": "a38e45cf.3f1388",
        "type": "debug",
        "z": "a684fcc8.3be12",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 630,
        "y": 40,
        "wires": []
    },
    {
        "id": "d5afd91e.c1119",
        "type": "catch",
        "z": "a684fcc8.3be12",
        "name": "",
        "scope": null,
        "x": 480,
        "y": 40,
        "wires": [
            [
                "a38e45cf.3f1388"
            ]
        ]
    },
    {
        "id": "fe925615.f9c",
        "type": "http in",
        "z": "a684fcc8.3be12",
        "name": "/exystence",
        "url": "/exystence.net",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 80,
        "wires": [
            [
                "cf185617.b8cd08"
            ]
        ]
    },
    {
        "id": "cf185617.b8cd08",
        "type": "change",
        "z": "a684fcc8.3be12",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "$join([\"http:/\", req.url, \"/feed\"])",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "45b690c4.046508"
            ]
        ]
    }
]