coursera/3-coursera-api.json
[
    {
        "id": "9ea92fce.c23288",
        "type": "http in",
        "z": "c5afd88f.7955c",
        "name": "",
        "url": "/test",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "57ac6f16.108188",
                "132a0df4.d9c6da"
            ]
        ]
    },
    {
        "id": "55ee14e.d8e9cec",
        "type": "http response",
        "z": "c5afd88f.7955c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 200,
        "wires": []
    },
    {
        "id": "68506d67.2fab54",
        "type": "switch",
        "z": "c5afd88f.7955c",
        "name": "query.fmt",
        "property": "req.query.fmt",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "short",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "long",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "48b08509.584144"
            ],
            [
                "428beb50.6954a4"
            ],
            [
                "6135417.584fec"
            ]
        ]
    },
    {
        "id": "48b08509.584144",
        "type": "change",
        "z": "c5afd88f.7955c",
        "name": "short",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Learn with Coursera in \" & req.body.location",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "4b1f5003.50fca"
            ]
        ]
    },
    {
        "id": "428beb50.6954a4",
        "type": "change",
        "z": "c5afd88f.7955c",
        "name": "long",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Learners living in \" & req.body.location & \" can learn with Coursera\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "4b1f5003.50fca"
            ]
        ]
    },
    {
        "id": "6135417.584fec",
        "type": "change",
        "z": "c5afd88f.7955c",
        "name": "error 400",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Bad Request",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "400",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 120,
        "wires": [
            [
                "4b1f5003.50fca"
            ]
        ]
    },
    {
        "id": "36aeced3.c7c6e2",
        "type": "http in",
        "z": "c5afd88f.7955c",
        "name": "",
        "url": "/coursera/:location",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "157a54c2.832e9b",
                "57ac6f16.108188"
            ]
        ]
    },
    {
        "id": "157a54c2.832e9b",
        "type": "switch",
        "z": "c5afd88f.7955c",
        "name": "params.location",
        "property": "req.params.location",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 340,
        "wires": [
            [
                "6135417.584fec"
            ],
            [
                "a0ee4929.0e03"
            ]
        ]
    },
    {
        "id": "db75ee16.dd313",
        "type": "http request",
        "z": "c5afd88f.7955c",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://localhost:1880/test?fmt={{{format}}}",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 530,
        "y": 400,
        "wires": [
            [
                "4b1f5003.50fca"
            ]
        ]
    },
    {
        "id": "57ac6f16.108188",
        "type": "debug",
        "z": "c5afd88f.7955c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 290,
        "y": 240,
        "wires": []
    },
    {
        "id": "dfc11b9a.e82e68",
        "type": "switch",
        "z": "c5afd88f.7955c",
        "name": "body.location",
        "property": "req.body.location",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "6135417.584fec"
            ],
            [
                "68506d67.2fab54"
            ]
        ]
    },
    {
        "id": "a0ee4929.0e03",
        "type": "change",
        "z": "c5afd88f.7955c",
        "name": "url, body",
        "rules": [
            {
                "t": "set",
                "p": "format",
                "pt": "msg",
                "to": "$exists(req.query.format) ? req.query.format : \"short\"\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t  \"location\" : req.params.location\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "db75ee16.dd313"
            ]
        ]
    },
    {
        "id": "74294684.bf7668",
        "type": "comment",
        "z": "c5afd88f.7955c",
        "name": "calling /test",
        "info": "",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "7c266f0.9825c9",
        "type": "comment",
        "z": "c5afd88f.7955c",
        "name": "format",
        "info": "",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "4b1f5003.50fca",
        "type": "switch",
        "z": "c5afd88f.7955c",
        "name": "headers.accept",
        "property": "req.headers.accept",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "application/json",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 840,
        "y": 200,
        "wires": [
            [
                "21941735.daaac8"
            ],
            [
                "dff459d0.50e0f8"
            ]
        ]
    },
    {
        "id": "21941735.daaac8",
        "type": "change",
        "z": "c5afd88f.7955c",
        "name": "json",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"response\": payload\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "res.headers.Content-Type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 140,
        "wires": [
            [
                "55ee14e.d8e9cec"
            ]
        ]
    },
    {
        "id": "dff459d0.50e0f8",
        "type": "change",
        "z": "c5afd88f.7955c",
        "name": "text/plain",
        "rules": [
            {
                "t": "set",
                "p": "headers.Content-Type",
                "pt": "msg",
                "to": "text/plain",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 260,
        "wires": [
            [
                "55ee14e.d8e9cec"
            ]
        ]
    },
    {
        "id": "f1251cbf.29f998",
        "type": "change",
        "z": "c5afd88f.7955c",
        "name": "error 415",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Unsupported Media Type",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "415",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 80,
        "wires": [
            [
                "4b1f5003.50fca"
            ]
        ]
    },
    {
        "id": "6f9d08ac.cd7b2",
        "type": "comment",
        "z": "c5afd88f.7955c",
        "name": "errors",
        "info": "",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "132a0df4.d9c6da",
        "type": "switch",
        "z": "c5afd88f.7955c",
        "name": "body",
        "property": "req.body",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "object",
                "vt": "object"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 80,
        "wires": [
            [
                "dfc11b9a.e82e68"
            ],
            [
                "f1251cbf.29f998"
            ]
        ]
    }
]