yeiii/http-tableau.json
[
    {
        "id": "68402f86.d84cd",
        "type": "sqlite",
        "z": "df2a32b8.d2ed5",
        "mydb": "592a26e1.bf3e7",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "foo.db",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "80351062.ba72a8"
            ]
        ]
    },
    {
        "id": "bcaede77.d13b38",
        "type": "catch",
        "z": "df2a32b8.d2ed5",
        "name": "",
        "scope": null,
        "x": 520,
        "y": 40,
        "wires": [
            [
                "10300a09.e6f736"
            ]
        ]
    },
    {
        "id": "10300a09.e6f736",
        "type": "debug",
        "z": "df2a32b8.d2ed5",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 670,
        "y": 40,
        "wires": []
    },
    {
        "id": "f729344d.58bb38",
        "type": "http in",
        "z": "df2a32b8.d2ed5",
        "name": "/tableau",
        "url": "/tableau",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 130,
        "wires": [
            [
                "eb8b3dfe.058f88"
            ]
        ]
    },
    {
        "id": "eb8b3dfe.058f88",
        "type": "function",
        "z": "df2a32b8.d2ed5",
        "name": "SELECT",
        "func": "msg.topic = `SELECT \n    RANDOM()/9223372036854775807.0 AS rndm1,\n    RANDOM()/9223372036854775807.0 AS rndm2,\n    *, rowid, \n    ROUND(JULIANDAY(CURRENT_TIMESTAMP) - JULIANDAY(date)) AS age\nFROM support \nWHERE \n    hidden = 0\n    AND category LIKE '%weather%'\nORDER BY date DESC;`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 90,
        "wires": [
            [
                "68402f86.d84cd"
            ]
        ]
    },
    {
        "id": "dc48a307.ff32d",
        "type": "http response",
        "z": "df2a32b8.d2ed5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 740,
        "y": 230,
        "wires": []
    },
    {
        "id": "f3f67658.fc9178",
        "type": "template",
        "z": "df2a32b8.d2ed5",
        "name": "html format",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n\n<head>\n    <title>Echo-support WDC for Tableau</title>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js\" type=\"text/javascript\"></script>\n    <script src=\"https://connectors.tableau.com/libs/tableauwdc-2.3.latest.js\" type=\"text/javascript\"></script>\n    <script>\n        (function () {\n            // Create the connector object\n            var myConnector = tableau.makeConnector();\n\n            // Define the schema\n            myConnector.getSchema = function (schemaCallback) {\n                var cols = [{\n                    id: \"id\",\n                    dataType: tableau.dataTypeEnum.string\n                }, {\n                    id: \"age\",\n                    alias: \"Age\",\n                    dataType: tableau.dataTypeEnum.int\n                }, {\n                    id: \"rndm1\",\n                    alias: \"Random1\",\n                    dataType: tableau.dataTypeEnum.float\n                }, {\n                    id: \"rndm2\",\n                    alias: \"Random2\",\n                    dataType: tableau.dataTypeEnum.float\n                }, {\n                    id: \"date\",\n                    alias: \"Date\",\n                    dataType: tableau.dataTypeEnum.datetime\n                }, {\n                    id: \"details\",\n                    alias: \"Details\",\n                    dataType: tableau.dataTypeEnum.string\n                }];\n\n                var tableSchema = {\n                    id: \"wrong_weather_info\",\n                    alias: \"Echo Feedback\",\n                    columns: cols\n                };\n\n                schemaCallback([tableSchema]);\n            };\n\n            // Download the data\n            myConnector.getData = function (table, doneCallback) {\n                $.getJSON(\"http://localhost:1880/json\", function (resp) {\n                    var feat = resp,\n                        tableData = [];\n\n                    // Iterate over the JSON object\n                    for (var i = 0, len = feat.length; i < len; i++) {\n                        tableData.push({\n                            \"id\": feat[i].rowid,\n                            \"age\": feat[i].age,\n                            \"rndm1\": feat[i].rndm1,\n                            \"rndm2\": feat[i].rndm2,\n                            \"details\": feat[i].details,\n                            \"date\": feat[i].date,\n                        });\n                    }\n\n                    table.appendRows(tableData);\n                    doneCallback();\n                });\n            };\n\n            tableau.registerConnector(myConnector);\n\n            // Create event listeners for when the user submits the form\n            $(document).ready(function () {\n                $(\"#submitButton\").click(function () {\n                    tableau.connectionName = \"Echo Support Connection\"; // This will be the data source name in Tableau\n                    tableau.submit(); // This sends the connector object to Tableau\n                });\n            });\n        })();\n    </script>\n</head>\n\n<body>\n    <button type=\"button\" id=\"submitButton\">Hello world</button>\n</body>\n\n</html>",
        "output": "str",
        "x": 570,
        "y": 170,
        "wires": [
            [
                "937910ab.caeda"
            ]
        ]
    },
    {
        "id": "9ebd40f3.c44ca8",
        "type": "comment",
        "z": "df2a32b8.d2ed5",
        "name": "read from db and print",
        "info": "",
        "x": 150,
        "y": 50,
        "wires": []
    },
    {
        "id": "937910ab.caeda",
        "type": "function",
        "z": "df2a32b8.d2ed5",
        "name": "html header",
        "func": "// For HTML use the content type line below:\nmsg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 170,
        "wires": [
            [
                "dc48a307.ff32d"
            ]
        ]
    },
    {
        "id": "80351062.ba72a8",
        "type": "switch",
        "z": "df2a32b8.d2ed5",
        "name": "",
        "property": "req.url",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "json",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 430,
        "y": 140,
        "wires": [
            [
                "c8dfbf3d.6e6ce8"
            ],
            [
                "f3f67658.fc9178"
            ]
        ]
    },
    {
        "id": "99acea5d.438b68",
        "type": "http in",
        "z": "df2a32b8.d2ed5",
        "name": "/json",
        "url": "/json",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 90,
        "wires": [
            [
                "eb8b3dfe.058f88"
            ]
        ]
    },
    {
        "id": "c8dfbf3d.6e6ce8",
        "type": "function",
        "z": "df2a32b8.d2ed5",
        "name": "json header",
        "func": "// If sending JSON data the content type is:\nmsg.headers={\"Content-Type\":\"application/json\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 130,
        "wires": [
            [
                "dc48a307.ff32d"
            ]
        ]
    },
    {
        "id": "93a18d51.c3323",
        "type": "comment",
        "z": "df2a32b8.d2ed5",
        "name": "format outputs",
        "info": "",
        "x": 460,
        "y": 100,
        "wires": []
    },
    {
        "id": "25263ff1.c2f32",
        "type": "http in",
        "z": "df2a32b8.d2ed5",
        "name": "/delete/",
        "url": "/delete/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "eb8b3dfe.058f88",
                "bc75c1cb.27c6d"
            ]
        ]
    },
    {
        "id": "bc75c1cb.27c6d",
        "type": "function",
        "z": "df2a32b8.d2ed5",
        "name": "UPDATE",
        "func": "msg.topic = `UPDATE support SET hidden = 1 WHERE rowid = ${msg.req.params.id};`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "68402f86.d84cd"
            ]
        ]
    },
    {
        "id": "592a26e1.bf3e7",
        "type": "sqlitedb",
        "z": "",
        "db": "/Users/leo/Documents/leopoldo/nodered/yeiii/foo.db"
    }
]